.result {
    font-family: $font-family-secondary;
    font-size: 3rem;
    font-weight: 700;

    &:hover {
        a {
            text-decoration: underline;
            color: inherit;
        }
    }
}

.win {
    color: #4BB569;
}

.lose {
    color: #D72C40;
}