.topstory-article-img {
    height: pxtorem(220px);
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.matches-block-logo {
    height: 4rem;
    width: 4rem;

    @include media-breakpoint-up(md) {
        height: pxtorem(88px);
        width: pxtorem(88px);
    }
}

.more-articles-banner-1 {
    height: pxtorem(88px);
}

.more-articles-image {
    height: 220px;    
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include media-breakpoint-up(md) {
        height: 186px;
        min-width: 288px;
        max-width: 288px;
    }
}

.team-item {
    font-size: pxtorem(20px);
    font-weight: 700;

    &.active {
        color: $primary;
    }
}

.more-articles-title {
    height: 48px;
    --text-lines: 2;
    max-width: 39ch;
}

.more-articles-text {
    height: 45px;
    max-width: 46ch;
    --text-lines: 2;

    @include media-breakpoint-up(md) {
        height: 75px;
        --text-lines: 3;
    }
}

.newsletter-title {
    @include media-breakpoint-up(lg) {
        max-width: 15ch;
    }
}