<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preload" href="./dist/font/Cabin-Regular.ttf" as="font" type="font/ttf" crossorigin />

<style>
    @font-face {
        font-family: 'Cabin';
        src: url('./dist/font/Cabin-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cabin';
        src: url('./dist/font/Cabin-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cabin';
        src: url('./dist/font/Cabin-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cabin';
        src: url('./dist/font/Cabin-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Syne';
        src: url('./dist/font/Syne-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
    }
</style>

<link rel="stylesheet" type="text/css" href="./dist/css/style.css">

<script defer src="./dist/js/main.js"></script>

<title>MFK Vyškov</title>