
<header>
    <div class="container d-none d-lg-flex py-2">
        <div class="me-lg-80" style="width: 120px;"></div>
        <div class="d-flex gap-4">
            <a href="#" target="_blank">
                <img src="./dist/images/content/partner_1.png" height="32" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./dist/images/content/partner_2.png" height="32" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./dist/images/content/partner_3.png" height="32" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./dist/images/content/partner_4.png" height="32" alt="">
            </a>
        </div>
    </div>

    <div class="header-second-row bg-secondary">
        <div class="container position-relative h-100 d-flex justify-content-between">
            <a class="header-logo me-lg-80" href="index.html">
                <img src="./dist/images/content/logo.png" alt="Logo Vyškov" width="120" height="120">
            </a>
            <button class="burger-menu">
                Menu
                <div class="position-relative ms-3" style="height: 24px; width: 24px;">
                    <svg class="burger-menu-open" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.49768 12H18.5028" stroke="#0F122E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.49768 16.0017H18.5028" stroke="#0F122E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.49731 7.99832H18.5024" stroke="#0F122E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="burger-menu-close" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6" stroke="#0F122E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 6L18 18" stroke="#0F122E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </button>
            <nav class="navbar open">
                <ul class="w-100 d-lg-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Klub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aktuality</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Test</a></li>
                            <li><a class="dropdown-item" href="#">Test</a></li>
                            <li><a class="dropdown-item" href="#">Test</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Týmy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zápasy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Test</a></li>
                            <li><a class="dropdown-item" href="#">Test</a></li>
                            <li><a class="dropdown-item" href="#">Test</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sponzoři</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fotogalerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tréninky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                </ul>
            </nav> 
        </div>
    </div>
</header>