<section class="py-6">
    <div class="container">
        <div class="more-articles-banner-1">
            <img src="" alt="" height="160">
        </div>
        <div class="row">
            <div class="vstack gap-4">
                <div class="position-relative">
                    <div class="mb-3">
                        <img src="./dist/images/content/article_1.png" alt="">
                    </div>
                    <div>
                        <h4 class="mb-1 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                        <p class="mb-3">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        <a href="article.html" class="btn btn-link stretched-link">Více</a>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="mb-3">
                        <img src="./dist/images/content/article_1.png" alt="">
                    </div>
                    <div>
                        <h4 class="mb-1 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                        <p class="mb-3">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        <a href="article.html" class="btn btn-link stretched-link">Více</a>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="mb-3">
                        <img src="./dist/images/content/article_1.png" alt="">
                    </div>
                    <div>
                        <h4 class="mb-1 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                        <p class="mb-3">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        <a href="article.html" class="btn btn-link stretched-link">Více</a>
                    </div>
                </div>
                <a href="archive.html" class="btn btn-primary w-maxContent">Další články</a>
            </div>

            <div class="more-articles-banner-2 d-none">
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>