<section class="py-6 py-lg-8">
    <div class="container">
        <div class="more-articles-banner-1 mb-6">
            <a href="#">
                <img class="w-100 mh-100 object-contain" src="./dist/images/content/testImage.jpg" alt="" height="160">
            </a>
        </div>
        <div class="row gx-xl-4">
            <div class="col-xl-9">
                <div class="vstack gap-4">
                    <div class="more-articles-article position-relative d-md-flex gap-4">
                        <div class="more-articles-image mb-3 mb-md-0">
                            <img src="./dist/images/content/article_1.png" alt="">
                        </div>
                        <div class="pt-md-2">
                            <h4 class="more-articles-title mb-2 fw-bold overflow-ellipsis">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                            <p class="more-articles-text mb-3 overflow-ellipsis">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                            <a href="article.html" class="btn btn-link stretched-link">Více</a>
                        </div>
                    </div>
                    <div class="more-articles-article position-relative d-md-flex gap-4">
                        <div class="more-articles-image mb-3 mb-md-0">
                            <img src="./dist/images/content/article_1.png" alt="">
                        </div>
                        <div class="pt-md-2">
                            <h4 class="more-articles-title mb-2 fw-bold overflow-ellipsis">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                            <p class="more-articles-text mb-3 overflow-ellipsis">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                            <a href="article.html" class="btn btn-link stretched-link">Více</a>
                        </div>
                    </div>
                    <div class="more-articles-article position-relative d-md-flex gap-4">
                        <div class="more-articles-image mb-3 mb-md-0">
                            <img src="./dist/images/content/article_1.png" alt="">
                        </div>
                        <div class="pt-md-2">
                            <h4 class="more-articles-title mb-2 fw-bold overflow-ellipsis">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                            <p class="more-articles-text mb-3 overflow-ellipsis">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                            <a href="article.html" class="btn btn-link stretched-link">Více</a>
                        </div>
                    </div>
                    <a href="archive.html" class="btn btn-primary w-maxContent">Další články</a>
                </div>
            </div>

            <div class="col-xl-3 more-articles-banner-2 d-none d-xl-block">
                <a href="#">
                    <img class="w-100 object-contain" src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>