<section class="py-8">
    <div class="container">
        <h4 class="fw-bold mb-4">Partneři</h4>
        <div class="row g-4 row-cols-2 row-cols-lg-4 row-cols-xxl-6 mb-4">
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
            <div class="col">
                <a href="#" class="d-flex align-items-center justify-content-center h-100" target="_blank">
                    <img src="./dist/images/content/testImage.jpg" alt="">
                </a>
            </div>
        </div>
        <a href="partners.html" class="btn btn-primary">Všichni partneři</a>
    </div>
</section>