<section class="social-media-section container-fluid px-0 overflow-hidden position-relative py-6 py-lg-8">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2 bg-white" style="z-index: 2;">
                <h4 class="fw-bold mb-4">Sociální média</h4> 
            </div>
            <div class="col-md-9 col-lg-10">
                <div class="social-media-carousel">

                    <!-- TODO: DELETE -->
                    <div class="slick-slide d-none"></div>
                    <div class="slick-list d-none"></div>
        
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                    <div class="social-media-item">
                        <div class="social-media-image mb-3">
                            <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                        </div>
                        <div>
                            <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                            <p class="mb-0 overflow-ellipsis" style="max-height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        </div>
                        <a href="#" class="stretched-link" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>