<section class="py-6 py-lg-8">
    <div class="container">
        <h4 class="fw-bold mb-4">Sociální média</h4> 
    </div>
    <div class="px-12">
        <div class="row">
            <div class="col position-relative">
                <div class="mb-3">
                    <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                </div>
                <div>
                    <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                    <p class="mb-3 overflow-ellipsis" style="height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                </div>
                <a href="#" class="stretched-link" target="_blank"></a>
            </div>
            <div class="col position-relative">
                <div class="mb-3">
                    <img src="./dist/images/content/article_1.png" height="140" width="184" alt="">
                </div>
                <div>
                    <h4 class="mb-2 fs-9 fw-bold">Twitter</h4>
                    <p class="mb-3 overflow-ellipsis" style="height: 108px; --text-lines: 5;">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                </div>
                <a href="#" class="stretched-link" target="_blank"></a>
            </div>
        </div>
    </div>
</section>