<section class="bg-secondary py-8">
    <div class="container">
        <div class="mb-3">
            <h4 class="fw-bold mb-5">Týmy</h4>
            <ul class="d-flex gap-6">
                <li class="team-link active">B-tým</li>
                <li class="team-link">U19</li>
                <li class="team-link">Mládež</li>
            </ul>
        </div>
        <div class="d-flex flex-column-reverse mb-5">
            <h2 class="text-rainbow-gradient">B-tým</h2>
            <ul class="d-flex gap-6 mb-5">
                <li class="fs-11 fw-bold"><a href="roster.html">Soupiska</a></li>
                <li class="fs-11 fw-bold"><a href="staff.html">Realizační tým</a></li>
                <li class="fs-11 fw-bold"><a href="matches.html">Zápasy</a></li>
            </ul>
        </div>
        <div class="row gy-6">
            <div class="vstack gap-4">
                <div class="bg-white p-6">
                    <div class="row align-items-center mb-3">
                        <div class="col text-end">
                            <img src="./dist/images/content/logo.png" alt="" height="48" width="48">
                        </div>
                        <div class="col-5">
                            <h1 class="result mb-0 text-center">VS</h1>
                        </div>
                        <div class="col">
                            <img src="./dist/images/content/logo.png" alt="" height="48" width="48">
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <h5 class="fs-10 fw-bold mb-0">MFK Vyškov</h5>
                        <h5 class="fs-10 fw-bold">SK Slavia Praha</h5>
                    </div>
                    <span class="d-block fs-10 text-center">14. dubna, 18:00</span>
                </div>
                <div class="bg-white p-6">
                    <div class="row align-items-center mb-3">
                        <div class="col text-end">
                            <img src="./dist/images/content/logo.png" alt="" height="48" width="48">
                        </div>
                        <div class="col-5">
                            <h1 class="result win mb-0 text-center">4:2</h1>
                        </div>
                        <div class="col">
                            <img src="./dist/images/content/logo.png" alt="" height="48" width="48">
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <h5 class="fs-10 fw-bold mb-0">MFK Vyškov</h5>
                        <h5 class="fs-10 fw-bold">SK Slavia Praha</h5>
                    </div>
                    <span class="d-block fs-10 text-center">14. dubna, 18:00</span>
                </div>
                <a href="matches.html" class="btn btn-primary w-maxContent">Všechny zápasy</a>
            </div>

            <div class="vstack gap-4">
                <div class="position-relative">
                    <div class="mb-3">
                        <img src="./dist/images/content/article_1.png" alt="">
                    </div>
                    <div>
                        <h4 class="mb-2 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                        <p class="mb-3">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        <a href="article.html" class="btn btn-link stretched-link">Více</a>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="mb-3">
                        <img src="./dist/images/content/article_1.png" alt="">
                    </div>
                    <div>
                        <h4 class="mb-2 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                        <p class="mb-3">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        <a href="article.html" class="btn btn-link stretched-link">Více</a>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="mb-3">
                        <img src="./dist/images/content/article_1.png" alt="">
                    </div>
                    <div>
                        <h4 class="mb-2 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h4>
                        <p class="mb-3">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                        <a href="article.html" class="btn btn-link stretched-link">Více</a>
                    </div>
                </div>
                <a href="archive.html" class="btn btn-primary w-maxContent">Další články</a>
            </div>
        </div>
    </div>
</section>