<section class="topstory-section">
    <div class="topstory-carousel">
        <div class="topstory-article container position-relative">
            <div class="topstory-article-img mb-3">
                <img src="./dist/images/content/article_1.png" alt="">
            </div>
            <div class="topstory-article-content px-md-5 py-md-5 pt-lg-72">
                <h1 class="mb-2 fw-bold overflow-ellipsis">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h1>
                <p class="mb-4 mb-lg-7 overflow-ellipsis">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                <a href="article.html" class="btn btn-primary">Více</a>
            </div>
            <a href="article.html" class="stretched-link"></a>
        </div>
        <div class="topstory-article container position-relative">
            <div class="topstory-article-img mb-3">
                <img src="./dist/images/content/article_1.png" alt="">
            </div>
            <div class="topstory-article-content px-md-5 py-md-5 pt-lg-72">
                <h1 class="mb-2 fw-bold overflow-ellipsis">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h1>
                <p class="mb-4 mb-lg-7 overflow-ellipsis">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                <a href="article.html" class="btn btn-primary">Více</a>
            </div>
            <a href="article.html" class="stretched-link"></a>
        </div>
        <div class="topstory-article container position-relative">
            <div class="topstory-article-img mb-3">
                <img src="./dist/images/content/article_1.png" alt="">
            </div>
            <div class="topstory-article-content px-md-5 py-md-5 pt-lg-72">
                <h1 class="mb-2 fw-bold overflow-ellipsis">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h1>
                <p class="mb-4 mb-lg-7 overflow-ellipsis">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                <a href="article.html" class="btn btn-primary">Více</a>
            </div>
            <a href="article.html" class="stretched-link"></a>
        </div>
    </div>
    <div class="container position-relative d-none d-md-block">
        <button class="slick-arrow slick-prev"><svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 6H1" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 11L15 6" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 1L15 6" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
        <button class="slick-arrow slick-next"><svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 6H1" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 11L15 6" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 1L15 6" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
    </div>
</section>

<!-- TODO: DELETE -->
<ul class="slick-dots d-none">
    <li class="slick-active"></li>
</ul>
<div class="topstory-carousel slick-dotted slick-slider d-none"></div>
<button class="slick-arrow slick-prev slick-hidden d-none"></button>
<button class="slick-arrow slick-next d-none"></button>