<section>
    <div>
        <div class="topstory-carousel">
            <div class="topstory-article container position-relative">
                <div class="topstory-article-img mb-3">
                    <img src="./dist/images/content/article_1.png" alt="">
                </div>
                <div class="topstory-article-content px-md-6 py-md-5 pt-lg-72">
                    <h1 class="mb-2 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h1>
                    <p class="mb-4 mb-lg-7">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                    <a href="article.html" class="btn btn-primary">Více</a>
                </div>
            </div>
            <div class="topstory-article container position-relative">
                <div class="topstory-article-img mb-3">
                    <img src="./dist/images/content/article_1.png" alt="">
                </div>
                <div class="topstory-article-content px-md-6 py-md-5 pt-lg-72">
                    <h1 class="mb-2 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h1>
                    <p class="mb-4 mb-lg-7">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                    <a href="article.html" class="btn btn-primary">Více</a>
                </div>
            </div>
            <div class="topstory-article container position-relative">
                <div class="topstory-article-img mb-3">
                    <img src="./dist/images/content/article_1.png" alt="">
                </div>
                <div class="topstory-article-content px-md-6 py-md-5 pt-lg-72">
                    <h1 class="mb-2 fw-bold">Změny v kádru: Ze Slovácka přichází Kratochvíla, do Kroměříže míří Jambor</h1>
                    <p class="mb-4 mb-lg-7">Vyškov hlásí před začátkem soutěže další posily. Útočnou fázi vyztuží David Kratochvíla, který přichází na hostování z prvoligového Slovácka. Naopak ven z kádru míří Dan Jambor, který by pravděpodobně nedostal v podzimní části potřebný prostor a své dovednosti bude moct ukázat na hostování v třetiligové Kroměříži.</p>
                    <a href="article.html" class="btn btn-primary">Více</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TODO: DELETE -->
<ul class="slick-dots d-none">
    <li class="slick-active"></li>
</ul>
<div class="topstory-carousel slick-dotted slick-slider d-none"></div>