.btn {
    font-family: $font-family-primary;
    transition: 0.15s all linear;
    cursor: pointer;
    font-size: pxtorem(18px);
    font-weight: 700;
    line-height: 1;
    padding: pxtorem(8px) pxtorem(24px);
    border-radius: 0;
}

.btn-link {
    padding: .25rem 0;
    font-size: pxtorem(14px);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        border: 1px solid $value;
        background-color: $value;
        @if $color == 'white' {
            color: $primary;
        } @else {
            color: #fff;
        }
        &:hover {
            @include media-breakpoint-up(lg) {
                @if $color == 'white' {
                    background-color: transparent;
                    color: #fff;
                } @else {
                    background-color: transparent;
                    color: $value;
                }
            }
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        border: 1px solid $value;
        color: $value;
        &:hover {
            background-color: $value;
            @if $color == 'white' {
                color: $primary;
            } @else {
                color: #fff;
            }
        }
    }
}