.typography table {
    tr {
        &:first-child {
            td, th {
                border-bottom: 2px solid $primary;
            }

        }

        &:last-child {
            td, th {
                border: none;
            }
        }

        th, td {
            text-align: center;
            white-space: nowrap;
            font-size: pxtorem(14px);
            padding: .75rem 1rem;
        }

        th {
            background: $secondary;
        }
    }

}