.aside-submenu-link {
    font-size: pxtorem(21px);

    &:not(:last-child) {
        margin-bottom: .5rem;
    }
    
    a {
        display: flex;
        align-items: center;

        svg {
            margin-right: pxtorem(24px);
        }
    }


    &.active a, a:hover {
        font-weight: 700;
        color: $primary;
    }
}

.aside-article {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    img {
        max-height: pxtorem(143px);
        height: 100%;
        min-width: pxtorem(140px);
        width: 15vw;
        max-width: pxtorem(170px);
        border-radius: pxtorem(8px);
        margin-right: pxtorem(23.5px);
        object-fit: cover;
        flex-shrink: 0;
    }

    @include media-breakpoint-up(lg) {
        align-items: flex-start;
        height: unset;

        &:hover {
            h3 {
                text-decoration: underline;
            }
        }

        &::before {
            display: none;
        }

    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        h3 {
            height: 89px;
            --text-lines: 4;
        }
    }
}

.aside-block {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @include media-breakpoint-up(md) {
        width: 75%;
        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        width: 100%;
    }
}