header {
    position: relative;
    z-index: 10;
    border-bottom: 2px solid $primary;

    @include media-breakpoint-down(md) {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: $zindex-fixed;
    }

    @include media-breakpoint-up(lg) {
        border-bottom: 4px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(268.11deg, #ECCE30 -20.11%, #D71921 25.66%, #425AA0 95.53%);
    }
}

.header-second-row {
    height: 4rem;

    @include media-breakpoint-up(lg) {
        height: 3rem;
    }
}

.header-logo {
    transform: translateY(.25rem);
    height: 5rem;
    width: 5rem;
    z-index: 100;
    
    img {
        height: 100%;
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        height: pxtorem(120px);
        width: pxtorem(120px);
        min-width: pxtorem(120px);
        transform: translateY(-2.75rem);
    }
}

.burger-menu {
    background: none;
    border: none;
    font-size: pxtorem(18px);
    font-weight: 700;
    display: flex;
    align-items: center;

    svg {
        position: absolute;
        inset: 0;
        transition: all .2s ease-in;
        
        &.burger-menu-close {
            opacity: 0;
            transform: scale(.75);
        }
    }

    &.open {
        svg {
            
            &.burger-menu-close {
                opacity: 1;
                transform: scale(1);
            }

            &.burger-menu-open {
                opacity: 0;
                transform: scale(.75);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.navbar {
    position: absolute;   
    top: calc(100% + 2px);
    border-bottom: 2px solid $primary;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: block;
    background: $white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all .2s ease-in;

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @include media-breakpoint-up(lg) {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        background: unset;
        padding: 0;
        border-bottom: 0;

        & > ul {
            height: 100%;
        }
    }
}

.nav-item {
    position: relative;
    
    @include media-breakpoint-up(lg) {
        &:hover {
            .dropdown-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.nav-link {
    font-weight: 700;
    color: inherit;
    text-align: center;

    &:hover {
        background: rgba($color: $primary, $alpha: .1);
    }

    @include media-breakpoint-up(lg) {
        padding: .75rem 1rem;
    }
}

.dropdown-menu {
    position: static;
    border: 0;
    border-radius: 0;
    padding: 0;

    &.open {
        display: block;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in;
    }
}

.dropdown-item {
    text-align: center;
    padding: .5rem 1rem;
    font-weight: 700;
    border-bottom: 1px solid $secondary;

    @include media-breakpoint-up(lg) {
        text-align: left;
        padding: .25rem 1rem;
    }
}